extends ../layouts/error.pug

block content
    .container
        .row.justify-content-center
            .col-lg-6
                .text-center.mt-4
                    h1.display-1 401
                    p.lead Unauthorized
                    p Joker! I told you to stop trying to get into the Bat Computer. Denied!
                    a(href='index.html')
                        i.fas.fa-arrow-left.me-1
                        | Return to the BatCave
