-
    let someStuff = [
    {
        name : "Bruce Wayne",
        position : 'CEO',
        city : 'Gotham City',
        Age : '69',
        Date : '2008/11/13',
        Salary : '$183,000'
    },
    {
        name : "Dick Grayson",
        position : 'CFO',
        city : 'Bludhaven',
        Age : '59',
        Date : '2008/11/13',
        Salary : '$600,000'
    }
    ];

table#datatablesSimple2
    thead
        tr
            th Real Name
            th SuperHero Name
            th City
            th Age
            th Start date
            th Crime Related Expenses
    tfoot
        tr
            th Name
            th Position
            th Office
            th Age
            th Start date
            th Salary
    tbody
        each stuff in someStuff 
            tr 
                each val,key in stuff 
                    td=val
        //- tr
        //-     td Tiger Nixon
        //-     td System Architect
        //-     td Edinburgh
        //-     td 61
        //-     td 2011/04/25
        //-     td $320,800
        //- tr
        //-     td Garrett Winters
        //-     td Accountant
        //-     td Tokyo
        //-     td 63
        //-     td 2011/07/25
        //-     td $170,750
