footer.py-4.bg-light.mt-auto
    .container-fluid.px-4
        .d-flex.align-items-center.justify-content-between.small
            .text-muted
                a(href='https://github.com/StartBootstrap/startbootstrap-sb-admin') Original Code Source
            div
                a(href='https://github.com/Jay-study-nildana/FrontEndForStudents/tree/main/BootstrapForStudents') Code Repository
                | 
                | &middot;
                | 
                a(href='https://github.com/Jay-study-nildana/developerprofile') Jay's Developer Profile
