# auth related things
# macOS
# openssl rand -base64 32
# Windows can use https://generate-secret.vercel.app/32

AUTH_SECRET=AUTH_SECRET_VALUE

# database related things.
# you can get all these values, ready made from the Neon dashboard on the "Connect" tab
# replace the placeholders with your own values
# from inside the vercel dashboard, go to 'database' section and you can create neon postgres db

# Recommended for most uses
DATABASE_URL=postgresql://neondb_owner:@ep-floral-hill-ahnnlb2m-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=postgresql://neondb_owner:@ep-floral-hill-ahnnlb2m.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require

# Parameters for constructing your own connection string
PGHOST=ep-floral-hill-ahnnlb2m-pooler.c-3.us-east-1.aws.neon.tech
PGHOST_UNPOOLED=ep-floral-hill-ahnnlb2m.c-3.us-east-1.aws.neon.tech
PGUSER=neondb_owner
PGDATABASE=neondb
PGPASSWORD=

# Parameters for Vercel Postgres Templates
POSTGRES_URL=postgresql://neondb_owner:@ep-floral-hill-ahnnlb2m-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_URL_NON_POOLING=postgresql://neondb_owner:@ep-floral-hill-ahnnlb2m.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require
POSTGRES_USER=neondb_owner
POSTGRES_HOST=ep-floral-hill-ahnnlb2m-pooler.c-3.us-east-1.aws.neon.tech
POSTGRES_PASSWORD=  
POSTGRES_DATABASE=neondb
POSTGRES_URL_NO_SSL=postgresql://neondb_owner:@ep-floral-hill-ahnnlb2m-pooler.c-3.us-east-1.aws.neon.tech/neondb
POSTGRES_PRISMA_URL=postgresql://neondb_owner:@ep-floral-hill-ahnnlb2m-pooler.c-3.us-east-1.aws.neon.tech/neondb?connect_timeout=15&sslmode=require

