:root {
    --background-color: #f4f4f4;
    --text-color: #000;
    --error-color: red;
    --button-hover-color: #ddd;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

#container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--button-hover-color);
}

#error {
    color: var(--error-color);
    margin-top: 20px;
}
